# --- Python байткод и кэш ---
__pycache__/
*.py[cod]
*$py.class

# --- Виртуальные окружения ---
venv/
.env/
.venv/

# --- Логи и отладка ---
*.log

# --- Результаты тестов ---
.cache/
.coverage
_pipeline
htmlcov/

# --- Сборка пакетов ---
build/
dist/
*.egg-info/

# --- IDE и редакторы ---
.vscode/
.idea/

_*

# --- Веса моделей / большие бинарники ---
# Папки, где обычно лежат веса
models/
checkpoints/
weights/
#artifacts/

# Типичные расширения весов
#*.pt
#*.pth
*.ckpt
*.bin
*.h5
*.onnx
*.tflite
*.safetensors

bilstm_for_tables
models